:host {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: var(--spectrum-alias-background-color-default);
}

#container {
    padding: 25px;
}

.cssdocs-example {
    margin: 40px;
}
